.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  overflow: hidden;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__description-text {
  font-size: 24px;
  line-height: 1.25;
  max-width: 210px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like_button.svg) center no-repeat;
  border: none;
  width: 21px;
  height: 18px;
  padding: 0;
}

.card__delete-button {
  background: transparent url(../images/delete_button.svg) center no-repeat;
  border: none;
  width: 18px;
  height: 20px;
  padding: 0;
  margin: 18px 15px 0 0;
  position: absolute;
  display: flex;
  align-self: end;
}

.card__delete-button:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__like-button_active {
  background: url(../images/like_button-dark.svg);
}

.card__like-button:hover {
  opacity: 60%;
  cursor: pointer;
}
