.header {
  margin-top: 45px;
  min-height: 73px;
  border-bottom: solid rgba(84, 84, 84, 0.7) 1px;
}

@media screen and (max-width: 618px) {
  .header {
    margin-top: 28px;
    min-height: 56px;
  }

  .header__logo {
    height: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    padding-left: 27px;
  }
}
